  .backgroundHeadLanding {
    background-image: url('img/backgrounds/banner5.jpg');
    height: -webkit-fill-available;
    min-height: 0px;
    max-height: 1000px;
    padding: 0px;
    margin-left: -15px;
    margin-right: -15px;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .backgroundHeadInProgress {
    background-image: url('img/backgrounds/inprogress.jpg');
    height: -webkit-fill-available;
    min-height: 0px;
    max-height: 1000px;
    padding: 0px;
    margin-left: -15px;
    margin-right: -15px;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .box-transparent {
    position: relative;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.8);
    top: 50%;
    left: 0%;
  }

  .verifyBox {
    justify-content: center;
  }

  .title {
    padding-left: 0px;
    padding-right: 0px;
  }

  .verify {
    cursor: pointer;
  }
  